<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Autómata</title>
</head>
<body>
    <h3>{{lista}}</h3>
</body>
</html>

<!-- <script src="./componentes/js/main.js"></script> -->